/* =======================common css start=============================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.title {
    text-align: center;
}

.title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #151515;

}

.title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #737373;


}

/* =======================common css end=============================== */
/* =======================navbar_part css start=============================== */
#navbar_part {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 999;


}

#navbar_part .navbar {
    padding: 0px;
    box-sizing: border-box !important;
}

#navbar_part .navbar .navbar-nav .nav-item {
    margin-left: 67px;

}

#navbar_part .navbar .navbar-nav .nav-item:first-child {
    margin-left: 0;
}

#navbar_part .navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    transition: .4s;

}

#navbar_part .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #4756DF;
}

#navbar_part .navbar .navbar-nav .nav-item .active {
    color: #4756DF;
    font-weight: 700;
}

#navbar_part .navbar form .btn {
    padding: 15px 42px !important;
    background: #4756DF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

#navbar_part .navbar form .btn:hover {
    background: #0312a1;
}

/* =======================navbar_part css end=============================== */
/* =======================banner_part css start=============================== */
#banner_part {
    position: relative;
}

#banner_part .slick-dots {
    position: absolute;
    bottom: 54px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    font-size: 0;


}

#banner_part ul li {
    margin: 0 2px;
}

#banner_part ul li button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: blue;
    border: 4px solid blue;
}

#banner_part ul .slick-active button {
    border-color: white;
}

#banner_part .banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;

}

#banner_part .banner1 {
    background: url(../images/banner01.jpg) no-repeat center;
    background-size: cover;

}

#banner_part .banner2 {
    background: url(../images/banner02.jpg) no-repeat center;
    background-size: cover;

}


#banner_part .banner .overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 315px 0px 176px;


}

#banner_part .banner .overlay .row .col-lg-12 .text {
    text-align: center;
}

#banner_part .banner .overlay .row .col-lg-12 .text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 120%;
    color: #FFFFFF;
    width: 950px;
    margin: 0 auto;
}

#banner_part .banner .overlay .row .col-lg-12 .text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 621px;
    margin: 51px auto 40px;

}

#banner_part .banner .overlay .row .col-lg-12 .text a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background: #6A4DF4;
    padding: 15px 45px;
    border-radius: 10px;
    margin: 0 auto;

}

#banner_part .banner .overlay .row .col-lg-12 .text a:hover {
    background: #0312a1;
}

/* =======================banner_part css end=============================== */
/* =======================counter_part css start=============================== */
#counter_part {
    margin: 171px 0 149px;

}

#counter_part .main {
    width: 100%;
    background: #E0FFF9;
    padding: 85px 51px 86px 50px;
    border-radius: 20px;

}

#counter_part .main .left h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    color: #6A4DF4;
    margin-bottom: 20px;
}

#counter_part .main .left h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #151515;
    margin: 0;

}

#counter_part .main .right {
    display: flex;
    justify-content: flex-end;
}

#counter_part .main .right h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #151515;
    margin-bottom: 20px;
}

#counter_part .main .right p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #737373;
    margin: 0;
}

#counter_part .main .right .count {
    margin-left: 110px;
}

#counter_part .main .right .count:first-child {
    margin-left: 0;
}

/* =======================counter_part css end=============================== */
/* =======================service_part css start=============================== */
#service_part .title h2 {
    margin: 0;
}

#service_part .title p {
    width: 609px;
    margin: 20px auto 50px;

}



#service_part .service_item {
    text-align: center;
    padding: 80px 49px 47px;
    margin-bottom: 24px;
    border-radius: 20px;
    transition: .4s;

}


#service_part .service_item:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

}

#service_part .service_item h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #151515;
    margin: 40px 0 20px;
}

#service_part .service_item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    margin: 0;

}

/* =======================service_part css end=============================== */
/* =======================work_part css start=============================== */
#work_part {
    padding: 150px 0;
    background: #F3F3F3;
    margin-top: 79px;
}

#work_part .title h2 {
    margin: 0;
}

#work_part .title p {
    margin: 20px auto 106px;
    width: 620px;
}

#work_part .work_item {
    background: white;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-bottom: 24px;
}

#work_part .work_item .col-lg-4:nth-child(4) {
    margin-bottom: 0;
}

#work_part .work_item img {
    width: 100%;
    border-radius: 20px;
}

#work_part .work_item h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #151515;
    margin: 30px 0 10px;
}

#work_part .work_item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #737373;
    width: 340px;
    margin: 0 auto;

}

/* =======================work_part css end=============================== */
/* =======================agency_part css start=============================== */
#agency_part {
    padding: 150px 0 106px;
    margin-bottom: 11px;

}

#agency_part .title h2 {
    width: 518px;
    margin: 0 auto;
}

#agency_part .title p {
    width: 802px;
    margin: 20px auto 130px;
}

#agency_part .main .top {
    margin-bottom: 95px;
}

#agency_part .main .top h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #151515;
    margin: 20px 0 10px;
}

#agency_part .main .top p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    width: 334px;

}

#agency_part .picture {
    border-radius: 30px;
}

/* =======================agency_part css end=============================== */
/* =======================review_part css start=============================== */

#review_part .slick-center {
    background: #F4EFEF;
}

#review_part {
    padding: 0 0 227px;
}

#review_part .title p {
    width: 620px;
    margin: 0 auto;
}

#review_part .main {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;

}

#review_part .main .review {
    width: 424px;
    /* background: #F4EFEF; */
    border-radius: 30px;
    padding: 54px 58px;
    margin: 0 20px;


}

#review_part .main .review p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    margin: 20px 0;
}

#review_part .main .review .icon {
    margin: 20px 0 30px;
}

#review_part .main .review .icon i {
    color: #F9BD2C;
}

#review_part .main .review .bottom {
    display: flex;
    align-items: center;
}

#review_part .main .review .bottom .text {
    margin-left: 20px;
}

#review_part .main .review .bottom .text h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #232323;
    margin: 0;

}

#review_part .main .review .bottom .text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    margin: 0;
}

/* review_part slider css start*/
#review_part .slider {
    position: relative;
}

#review_part .slider .prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: 35px;
    height: 35px;
    background: blue;
    color: white;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

#review_part .slider .next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background: blue;
    color: white;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

/* review_part slider css end*/

/* =======================review_part css end=============================== */
/* =======================form_part css start=============================== */
#form_part {
    padding: 150px 0;
    background: #F3F3F3;
}

#form_part .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#form_part .text .margin {
    margin-bottom: 10px;
}

#form_part .text h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #151515;
    width: 470px;
    margin-bottom: 20px;
}


#form_part .text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    width: 526px;

}

#form_part .form {
    padding: 61px 43px;
    width: 536px;
    background: white;
    border-radius: 20px;

}

#form_part .form h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #151515;
    margin-bottom: 10px;
}

#form_part .form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form_part .form form input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #D0D0D0;
    padding: 19px 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #D0D0D0;
    border-radius: 10px;
}

#form_part .form form input:focus {
    outline: 0;
}


#form_part .form form label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin-bottom: 10px;
}

#form_part .form form button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #6A4DF4;
    border: 0;
    padding: 19px 0;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

#form_part .form form button:hover {
    background: #0312a1;

}

/* =======================form_part css end=============================== */
/* =======================contact_part css start=============================== */
#contact_part {
    padding: 150px 0 50px;
}

#contact_part .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact_part .left p {
    width: 356px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;

}

#contact_part .right p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #151515;
    margin-bottom: 40px;
}

#contact_part ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #7B7B7B;
}




/* =======================contact_part css end=============================== */
/* =======================footer_part css start=============================== */

#footer p {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #D0D0D0;
    border-top: 1px solid #E8E8E8;
    padding: 20px 0 46px;
    margin: 0;

}




/* =======================footer_part css end=============================== */